body {
  background-size: contain;
  background: url("./assets/images/background.jpg") fixed;

  .button {
    border-radius: 0.4em !important;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset, 0px -0.3em 0px 0px rgba(34, 36, 38, 0.15) inset !important;
  }

  .select {
    position: relative;
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 4px;
    overflow: hidden;

    i {
      position: absolute;
      top: 3px;
      right: 0;
      pointer-events: none;
    }

    select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background: white none;
      -webkit-appearance: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}